<div class="col-6" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <form method="POST" action="/new-order">
    <div class="form-group">
      <label for="name">Nom du client</label>
      <input type="text" class="form-control" id="name">
    </div>
    <th:block sec:authorize="hasAnyRole('manager', 'waiter', 'cook')">
      <div class="form-group">
        <label for="tableNumber">Numéro de table</label>
        <input type="number" class="form-control" id="tableNumber">
      </div>
    </th:block>
    <a onclick="validateShoppingCart()" class="btn btn-primary" th:if="">Valider la commande</a>
  </form>
</div>