<div th:replace="~{/fragments/header :: header}"></div>
<body>
<th:block th:replace="~{/fragments/navbarTitle :: navbarTitle}"></th:block>
<div class="col">
    <h1 class="h1">Welcome to 50 shades of pizza manager</h1>
</div>
<nav th:replace="~{/fragments/navbarTitle :: navbar}"></nav>
<section class="container">

    <div class="row">
        <div class="col">
            ITEM 1
        </div>
        <div class="col">
            ITEM 2
        </div>
    </div>
    <div class="row">
        <div class="col">
            ITEM 3
        </div>
        <div class="col">
            ITEM 4
        </div>
    </div>


</section>

<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
