<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragments/header :: header}"></div>
<body>
<th:block th:replace="~{/fragments/navbarTitle :: navbarTitle}"></th:block>
<nav th:replace="~{/fragments/navbarTitle :: navbar}"></nav>
    <div class="container">
        <div class="row" >

            <th:block th:each="products : ${productsByType}">
                <h2 th:text="${products.key}"></h2>
                <th:block th:each="product: ${products.value}">
                    <div class="col-lg-6 text-center" >
                        <a th:onclick="ShoppingCart.addProduct([[${product.id}]], [[${product.name}]]); displayShoppingCart()" th:text="${product.name}"></a>
                        <th:block th:if="${product.ingredients != null}">
                                <p class="font-weight-bold">
                                    <th:block th:each="ingredient: ${product.ingredients}">
                                        <span th:text="${ingredient.name} "></span>
                                        &nbsp;
                                    </th:block>
                                </p>
                        </th:block>
                    </div>
                </th:block>
            </th:block>

        </div>
    </div>

<div class="container">
    <div class="row">
        <h1>Paniers</h1>
        <div class="col-lg-6" id="cart">
            <table id="shoppingCartTable">

            </table>
        </div>
        <div class="col-lg-6">
            <form method="POST" action="/new-order">
                <div class="form-group">
                    <label for="name">Nom du client</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="tableNumber">Numéro de table</label>
                    <input type="number" class="form-control" id="tableNumber">
                </div>
                <a onclick="validateShoppingCart()" class="btn btn-primary">Valider la commande</a>
            </form>

        </div>
    </div>

</div>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
<script th:src="@{/js/shoping-cart.js}"></script>
</body>