<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragments/header :: header}"></div>
<body>
<th:block th:replace="~{/fragments/navbarTitle :: navbarTitle}"></th:block>
<nav th:replace="~{/fragments/navbarTitle :: navbar}"></nav>
    <div class="container">
        <div class="row" >

            <th:block th:each="products : ${productsByType}">
                <h2 th:text="${products.key}"></h2>
                <th:block th:each="product: ${products.value}">
                    <div class="col-lg-6 text-center" >
                        <a th:onclick="ShopingCart.addProduct([[${product.id}]], [[${product.name}]]);displayShoppingCart()" th:text="${product.name}"></a>
                        <th:block th:if="${product.ingredients != null}">
                                <p class="font-weight-bold">
                                    <th:block th:each="ingredient: ${product.ingredients}">
                                        <span th:text="${ingredient.name} "></span>
                                        &nbsp;
                                    </th:block>
                                </p>
                        </th:block>
                    </div>
                </th:block>
            </th:block>

        </div>
    </div>

<div class="container">
    <div class="row">
        <h1>Panier</h1>
        <div class="col-lg-6">

        </div>
    </div>
</div>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
<script th:src="@{/js/shoping-cart.js}"></script>
</body>