<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/fragments/header :: header}"></div>
<body xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/fragments/navbarTitle :: navbarTitle}"></th:block>
<nav th:replace="~{/fragments/navbarTitle :: navbar}"></nav>

<h1>Commande créee avec succès !</h1>
<div class="row justify-content-center">
    <iframe src="https://gifer.com/embed/SU1" width=480 height=474.217 frameBorder="0" ></iframe><p><a href="https://gifer.com">via GIFER</a></p>
</div>
</body>